* {
  /*border: solid red 1px;*/
}

h2 {
  margin-top: 2em;
}

h3 {
  margin-top: 1em;
}

.frameAll{
  margin: 3em;
  display: flex;
  flex-direction: column;

}

.frameManuals {
  display: flex;
  flex-direction: column;

}

.contentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentDivLR {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.myTextArea {
  /*min-width: 100%;*/
  width: 100%;
  min-height: 400px;
}

.Collapsible__trigger:hover {
  cursor: pointer;
}
